   body {
    background-color: grey;
    }

    h2{
    color: Green;
    Hello
    text-align: end;
    }

.box1 {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 0px;
  padding: 0px;
  text-align: left;
  }


.textlft {
  color: white;
  text-align: left;
}

.div2 {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}