<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>

     <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>{{title}}</title
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Table Properties here -->
    <style>
table {
  border-collapse: collapse;
  border: 1px solid black;
}
th,td {
  border: 1px solid black;
}
table.c {
  table-layout: auto;
  width: 100%;
Text align: center
}
</style>

    <!-- Table Properties End here -->

</head>
<body style="height:3000px">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Learn Python</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>

        <!-- for python menu -->
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Select
       </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'pythonintroduction' %}">Python Introduction</a>
          <a class="dropdown-item" href="{% url 'pythongettingstarted' %}">Python Getting Started</a>
          <a class="dropdown-item" href="{% url 'pythonsyntax' %}">Python Syntax & Comment</a>
          <a class="dropdown-item" href="{% url 'pythonvariable' %}">Python Variables</a>
          <a class="dropdown-item" href="{% url 'pythondatatype' %}">Python Data Types</a>
          <a class="dropdown-item" href="{% url 'pythonnumbers' %}">Python Numbers</a>
          <a class="dropdown-item" href="{% url 'pythoncasting' %}">Python Casting</a>
          <a class="dropdown-item" href="{% url 'pythonoperators' %}">Python Operators</a>
          <a class="dropdown-item" href="{% url 'pythonlists' %}">Python Lists</a>
          <a class="dropdown-item" href="{% url 'pythontuples' %}">Python Tuples</a>
          <a class="dropdown-item" href="{% url 'pythonsets' %}">Python Sets</a>
          <a class="dropdown-item" href="{% url 'pythondictionary' %}">Python Dictionaries</a>
          <a class="dropdown-item" href="{% url 'pythonarray' %}">Python Arrays</a>


        </div>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Funtion
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="{% url 'pythonuserinput' %}">Python User Input</a>
         <a class="dropdown-item" href="{% url 'pythonifelse' %}">Python If...else</a>
         <a class="dropdown-item" href="{% url 'pythonwhileloops' %}">Python While Loops</a>
         <a class="dropdown-item" href="{% url 'pythonforloops' %}">Python For Loops</a>
         <a class="dropdown-item" href="{% url 'pythonfunctions' %}">Python Functions</a>
         <a class="dropdown-item" href="{% url 'pythonclassobjects' %}">Python Class & Objects</a>
        </div>
      </li>


        <!-- for python menu end -->
      <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Signup<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<!-- navbar area closed here -->
<!-- columns start -->
<p>
    <br>
    <br>
    <p>&nbsp;&nbsp;
     <!---     Amazone Add Start -->
   <script type="text/javascript" language="javascript">
      var aax_size='728x90';
      var aax_pubname = '420022-21';
      var aax_src='302';
    </script>
    <script type="text/javascript" language="javascript" src="http://c.amazon-adsystem.com/aax2/assoc.js"></script>
    <!-- Amazone Add End -->
    </p>
</p>
<div class="container-fluid">
   <div class="container-fluid">
       <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
      <div class="col-sm-7" style="background-color:white;">
  <!-- Python Data Types Theory Start -->
     <p><h2><strong>Python-Data Types</strong></h2></p>

        <p><Strong>Python has the following data types built-in by default.</strong></p>
                <table class="c" style="text-align: center; vertical-align: middle;">
  <tr >
    <th style="text-align: center; vertical-align: middle;">Example</th>
    <th style="text-align: center; vertical-align: middle;">Data Type</th>
  </tr>
  <tr>
    <td>Numeric Types:</td>
    <td>int, float, complex</td>
  </tr>
  <tr>
    <td>Text Type:</td>
    <td>str</td>
  </tr>
  <tr>
    <td>Set Types:</td>
    <td>set, frozenset</td>
</tr>
<tr>
    <td>Boolean Type:</td>
    <td>Bool</td>
</tr>
<tr>
    <td>Binary Types:</td>
    <td>bytes, bytearray, memoryview</td>
</tr>
</table>

          <p><strong><br>We can get the data type of any object by using the <span style="color: #3366ff;">type</span>()function: </strong><br />e.g. <br />Find the data type of the variable x:<br />x = 5<br /><span style="color: #3366ff;">print</span><span style="color: #000000;">(</span><span style="color: #3366ff;">type</span>(x))<br /><strong><br>In Python, the data type is set when we assign a value to a variable:</strong></p>
                <table class="c" style="text-align: center; vertical-align: middle;">
  <tr>
    <th style="text-align: center; vertical-align: middle;">Example</th>
    <th style="text-align: center; vertical-align: middle;">Data Type</th>
  </tr>
  <tr>
    <td>x = "Hello World"</td>
    <td>str</td>
  </tr>
  <tr>
    <td>x = 40</td>
    <td>int</td>
  </tr>
  <tr>
    <td>x = 4.5</td>
    <td>float</td>
</tr>
<tr>
    <td>x = 2k</td>
    <td>complex</td>
</tr>
<tr>
    <td>x = ["Mango", "Banana", "Orange"]</td>
    <td>list</td>
</tr>

<tr>
    <td>x = ("Mango", "Banana", "Orange")</td>
    <td>tuple</td>
</tr>

<tr>
    <td>x = range(10)</td>
    <td>range</td>
</tr>

<tr>
    <td>x = {"name" : "Priya", "age" : 25}</td>
    <td>dict</td>
</tr>
<tr>
    <td>x = {"Mango", "Banana", "Orange"}</td>
    <td>set</td>
</tr>
<tr>
    <td>x = frozenset({"Mango", "Banana", "Orange"})</td>
    <td>frozenset</td>
</tr>
<tr>
    <td>x = False</td>
    <td>Bool</td>
</tr>
<tr>
    <td>x = b"Hello"</td>
    <td>Bytes</td>
</tr>
<tr>
    <td>x = bytearray(4)</td>
    <td>bytearray</td>
</tr>
<tr>
    <td>x = memoryview(bytes(4))</td>
    <td>memoryview</td>
</tr>
</table>
          <br><p><strong>If we want to specify the data type, we can use the following constructor functions:</strong></p>
                <table class="c" style="text-align: center; vertical-align: middle;">
  <tr>
    <th style="text-align: center; vertical-align: middle;">Example</th>
    <th style="text-align: center; vertical-align: middle;">Data Type</th>
  </tr>
  <tr>
    <td>x = str("Hello World")</td>
    <td>str</td>
  </tr>
  <tr>
    <td>x = int(40)</td>
    <td>int</td>
  </tr>
  <tr>
    <td>x = float(4.5)</td>
    <td>float</td>
</tr>
<tr>
    <td>x = complex(2k)(</td>
    <td>complex</td>
</tr>
<tr>
    <td>x = list(["Mango", "Banana", "Orange"])</td>
    <td>list</td>
</tr>

<tr>
    <td>x = tuple(("Mango", "Banana", "Orange"))</td>
    <td>tuple</td>
</tr>

<tr>
    <td>x = range(10)</td>
    <td>range</td>
</tr>

<tr>
    <td>x = dict({"name" : "Priya", "age" : 25})</td>
    <td>dict</td>
</tr>
<tr>
    <td>x = set({"Mango", "Banana", "Orange"})</td>
    <td>set</td>
</tr>
<tr>
    <td>x = frozenset({"Mango", "Banana", "Orange"})</td>
    <td>frozenset</td>
</tr>
<tr>
    <td>x = bool(8)</td>
    <td>Bool</td>
</tr>
<tr>
    <td>x = bytes(8)</td>
    <td>Bytes</td>
</tr>
<tr>
    <td>x = bytearray(8)</td>
    <td>bytearray</td>
</tr>
<tr>
    <td>x = memoryview(bytes(8))</td>
    <td>memoryview</td>
</tr>
</table>





  <!-- Python Data Types Theory End -->
    </div>
 <!-- Second Column is for Google Adds -->
<div class="col-sm-5" style="background-color:grey;">
    <div class="container">
        <!-- new -->
    <h1>Google Adds Here Pasted</h1>
    <!-- new end -->

    </div>
<!-- Second Column is End- for Google Adds -->
</div>
    </div>
<br>
</div>
</div>
<!-- above script are same for all pages. -->
 <br>
<br>










</body>
</html>