<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="en">
<head>
     <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>{{title}}</title
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body style="height:3000px">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Learn Python</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="{% url 'register' %}">Register</a>
          <a class="dropdown-item" href="{% url 'pagetwo' %}">Pagetwo</a>
          <a class="dropdown-item" href="{% url 'result' %}">Result</a>
          <a class="dropdown-item" href="{% url 'signup' %}">Signup</a>
          <a class="dropdown-item" href="{% url 'studentinfo' %}">Student</a>
           <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- navbar area closed here -->
<!-- columns start -->
<p>
    <br>
    <br>
    <br>
    <br>
</p>
<div class="container-fluid">
   <div class="container-fluid">
       <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
      <div class="col-sm-8" style="background-color:yellow;">
          <p>Introduction Page</p>
    </div>
 <!-- Second Column is for Google Adds -->
<div class="col-sm-4" style="background-color:grey;">
    <div class="container">
        <h1>Google Adds</h1>
    </div>
<!-- Second Column is End- for Google Adds -->
</div>
    </div>
<br>
</div>
</div>
<!-- above script are same for all pages. -->
<h3>The Signup Page is used for entering the data into user_auth Tabble in database DB1</h3>

<br>
<br>

<form  method="POST" action="signup">
    {% csrf_token %}
    User Name:<input type="text" name="username"><br>
    First Name:<input type="text" name="first_name"><br>
    Last Name:<input type="text" name="last_name"><br>
    Email Id:<input type="email" name="email"><br>
    Password:<input type="password" name="password"><br>
    <input type="submit">

</form>

<br>
<br>





<table border-"1">
    <tr>
        <th>ID</th>
        <th>Name<th>
        <th>Adress</th>
        <th>Salary</th>
        <th>Status</th>
    </tr>
        <!-- {% for data in result %} -->
    <tr>
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.address}}</td>
        <td>{{data.mail}}</td>
        <td>{{data.status}}</td>
    </tr>
    <!-- {% endfor %} -->

</table>



</body>
</html>